.container {
  border: solid 1px var(--text-1);
  padding: 2rem;
  color: var(--text-2);
  background: var(--bg-2);
  border-radius: 20px;
  width: 100%;
}

.container h3 {
  text-align: center;
  color: var(--primary);
  margin: auto;
  margin-bottom: 1.5rem;
  margin-top: 0;
  border-bottom: solid 1px;
  padding-bottom: 1rem;
  border-color: var(--text-1);
}

.leaderBoardResults {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 70dvh;
  height: 70vh;
  padding-right: 2px;
}

.leaderBoardResult:last-child {
  margin-bottom: 0;
}

.leaderBoardResult {
  background: var(--bg-1);
  padding: 1rem;
  border-radius: 10px;
  margin-top: 0;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.settingsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.settingItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leaderBoardResultItemTitle {
  display: block;
  font-size: 0.75rem;
  color: var(--text-1);
}

.leaderBoardResultItemResult {
  color: var(--text-2);
}

.modalHeader {
  position: relative;

  button {
    position: absolute;
    right: 0rem;
    top: 0rem;
    border: none;
    font-weight: bold;
    font-size: 1.25rem;
    padding: 0;
    margin: 0;
    color: var(--error);
    cursor: pointer;
    background-color: transparent;
  }
}

select {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  background: var(--bg-1);
  color: var(--text-2);
  min-width: 7rem;
  font-size: 0.9rem;
}

@media screen and (max-width: 48rem) {
  .container {
    padding: 1rem;
    padding-top: 1.5rem;
  }
  .modalHeader button {
    font-size: 1.5rem;
  }
}