.wordWrapper {
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  font-weight: 500;
}

.rightChar {
  color: var(--primary);
}

.wrongChar {
  color: var(--error);
  text-decoration: underline;
}