.container {
  z-index: 10;
  position: relative;
}
.backdrop {
  position: fixed;
  width: 100dvw;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  /* backdrop-filter: blur(1rem); */
  /* -webkit-backdrop-filter: blur(1rem); */
  top: 0;
  left: 0;
  animation: fade-in 0.25s ease-out forwards;
  background-color: #000c;
  z-index: 5;
}
.body {
  z-index: 20;
  min-width: 20rem;
  max-width: 40rem;
  height: fit-content;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  animation: pop-in 0.25s ease-out forwards;
  display: flex;
  justify-self: center;
  align-items: center;
}

@keyframes pop-in {
  from {
    opacity: 0;
    transform: translateY(-20%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 48rem) {
  .body {
    width: 95%;
  }
}

@media screen and (max-width: 24rem) {
  .body {
    width: 90%;
  }
}
