:root {
  --text-1: #A5AEB0;
  --text-2: #0A171A;
  --bg-1: #FBFDFE;
  --bg-2: #EBEBEB;
  --bg-3: white;
  --primary: #4296b5;
  --secondary: #C59DDD;
  --accent: #CA6DCA;
  --error: #FF4040;

  --border-radius: 1.25rem;
  --h1: 36px;
  --component-margin: 8%;
}

[data-theme="dark"] {
  --text-1: #A5AEB0;
  --text-2: #fdfdfd;
  --bg-1: #0A171A;;
  --bg-2: #1A2123;
  --bg-3: black;
  --primary: #53A3C1;
  /* --primary: #4296b5; */
  --secondary: #C59DDD;
  --accent: #CA6DCA;
  --error: #FF4040;

  --border-radius: 1.25rem;
  --h1: 36px;
  --component-margin: 8%;
}

@media screen and (max-width: 48rem) {
  :root {
    --component-margin: 5rem;
    --h1: 24px;
  }
}
@media screen and (max-width: 24rem) {
  :root {
    --component-margin: 3rem;
    --h1: 20px;
  }
}