:root {
  --text-1: #A5AEB0;
  --text-2: #0A171A;
  --bg-1: #FBFDFE;
  --bg-2: #EBEBEB;
  --bg-3: white;
  --primary: #4296b5;
  --secondary: #C59DDD;
  --accent: #CA6DCA;
  --error: #FF4040;

  --border-radius: 1.25rem;
  --h1: 36px;
}

[data-theme="dark"] {
  --text-1: #A5AEB0;
  --text-2: #fdfdfd;
  --bg-1: #0A171A;;
  --bg-2: #1A2123;
  --bg-3: black;
  --primary: #53A3C1;
  --secondary: #C59DDD;
  --accent: #CA6DCA;
  --error: #FF4040;

  --border-radius: 1.25rem;
  --h1: 36px;
}