.refreshWrapper {
  margin: auto;
  margin-top: 10%;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
}

.refreshWrapper button {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  color: var(--secondary);
  transition: all 0.25s ease-out;
  transform: rotateY(180deg);
}

.refreshWrapper button:hover {
  color: var(--accent);
}