.refreshWrapper {
  margin: auto;
  margin-top: 10%;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
}

.refreshWrapper button {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  color: var(--secondary);
  transition: all 0.5s ease-out;
  opacity: 0;
  animation: fade-in 0.5s ease-out forwards;
  animation-delay: 1s;
}

.refreshWrapper button:hover {
  color: var(--accent);
  transform: rotate(360deg);
}

.refreshWrapper button:active {
  color: var(--accent);
  animation: rotate-in 0.5s ease-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rotate-in {
  from {
    transform: rotateY(360);
  }
  to {
    transform: rotateY(0);
  }
}